<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div id="content" class="col-md-8 center-block">

      <p>
        <strong>Name: </strong>
        <%= @profile.firstname + " " + @profile.lastname %> 
      </p>
      <p>
        <%= image_tag @profile.avatar.url(:thumb) %>
      </p>

      <p>
        <strong>Bio:</strong>
        <%= @profile.bio %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @profile.city %>
      </p>

      <p>
        <strong>Gender:</strong>
        <%= @profile.gender %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @profile.user.email %>
      </p>

      <!-- authorisation showing edit and destroy buttons for user if they created the post -->
      <% if @profile.user == current_user %>
      <div class="btn-group">
        <%= link_to 'Edit Profile', edit_profile_path(@profile), class: "btn btn-default" %>
      </div>
      <% end %>
    </div>



    <div id="content" class="col-md-4 right-block">
        <h4> My latest blabs </h4>
        <% @profile.user.links.each do |link| %>
          <%= image_tag link.image.url(:thumb) %><br>
        <div class="btn-group">
          <strong><%= link_to link.title, link, class: "btn btn-default" %></strong><br><br>
        </div>

      <%end %>
    </div>
  </div>
</div>
