<!-- container set to fluid to help bootstrap change style across multi platforms -->
<div class="container-fluid">
  <div class="row">
    <div id="content" class="col-md-8 center-block">
      <% @links.each do |link| %>
        <div class="link row clearfix">
          <%= image_tag link.image.url(:thumb) %>
          <h2>
            <%= link_to link.title, link %><br>
            <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link_to link.user.name %></small>
          </h2>
        
          <div class="btn-group">
            <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
            <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-chevron-up"></span>
              Upvote
              <%= link.get_upvotes.size %>
            <% end %>
            <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-chevron-down">
              Downvote
              <%= link.get_downvotes.size %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- right hand column of index page set to medium device width 4 bootstrap grid -->
    <div id="content" class="col-md-4 center-block">
      <h4> Blabs Located near you </h4>
      <% @locations.each do |location| %>
        <!-- <div class="link row clearfix"> -->
      <%= location.link.title %> @ <%= link_to location.address, location %><br>
      

      <%end %>
    </div>
  </div>
</div>
